<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
<div class="ya-share2" data-services="twitter,facebook,gplus,linkedin,qzone,sinaWeibo" data-counter="" data-lang="en"></div>
